<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Invadi</title>

</head>

<body>
	<div class="alert">TCHE TCHE É MONSTRO E O ALAN É UM CUSÃO</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/4linux.jpg" alt="4Linux">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">Alan Cusao ganha 20k</p>
			
			<div class="devops-path path">
				<h1>DevOps</h1>
	
			
		</div>
	</div>

</body>

</html>
